<header class="header1">
    <div class="profile-summary">
        <div class="profile-img-wrapper">
            <img src="/images/profile.jpeg" alt="Profile" class="profile-pic">
            <span class="active-dot"></span>
        </div>
        <div>
            <div>
                <h2>
                    <%= user.name %>
                </h2>

                <p>
                    <%= user.email %>
                </p>
            </div>
        </div>
</header>

<!-- BACKGROUND BLUR -->
<span class="bg__blur"></span>
<span class="bg__blur footer__blur"></span>