* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #111317;
    --primary-color-light: #1f2125;
    --primary-color-extra-light: #35373b;
    --secondary-color: #696fdd;
    --secondary-color-dark: #a3a8f0;
    --text-light: #b7b9bc;
    --white: #ffffff;
    --max-width: 1300px;
    --background-gradient: linear-gradient(135deg, rgb(186, 190, 253) 0%, rgb(66, 71, 158) 100%);
    --background2: linear-gradient(180deg, #d6d9fa, rgb(149, 154, 243));
}


body {
    background-color: var(--primary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--white);
    padding: 20px 10px;
    padding-top: 55px;
}

.card-wrapper {
    max-width: 500px;
    margin: 0 auto;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    margin-bottom: 20px;
    gap: 20px;
    font-weight: bold;
    color: var(--white);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card-header a {
    color: var(--primary-color-light);
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: var(--primary-color-extra-light);
    color: var(--white);
    padding: 8px;
    border-radius: 50%;
}

.card-header i {
    font-size: 20px;
}



.setting-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 0;
    transition: background 0.3s ease-in-out;
}

.setting-item label {
    color: var(--text-light);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.setting-item select {
    background: var(--primary-color-extra-light);
    color: var(--white);
    border: 1px solid var(--secondary-color);
    padding: 12px 14px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    outline: none;
    appearance: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 0 2px transparent;
    border-left: 5px solid var(--secondary-color);
    border-right: 5px solid var(--secondary-color);
}

.setting-item select:hover {
    background: var(--primary-color);
    border-color: var(--secondary-color-dark);
}

.setting-item select:focus {
    border-color: var(--secondary-color);
    box-shadow: 0 0 4px var(--secondary-color);
}


.currency-options {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    background: var(--primary-color-extra-light);
    border-radius: 12px;
    margin-top: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    list-style: none;
    padding: 8px 0;
    z-index: 10;
}

.currency-options li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 14px;
    cursor: pointer;
    font-weight: 500;
    color: var(--white);
}

.currency-options li:hover {
    background: var(--secondary-color);
}

.card-list {
    list-style: none;
    padding: 0;
}

.card-list li {
    background: var(--primary-color-extra-light);
    display: flex;
    align-items: center;
    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    gap: 10px;
}

.card-list li img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
}

.card-list li span {
    flex: 1;
    font-weight: 600;
    color: var(--white);
    font-size: 14px;
}

.card-list .rate {
    font-size: 13px;
    font-weight: bold;
    color: var(--secondary-color-dark);
}


.sell-btn {
    display: inline-block;
    padding: 5px 16px;
    background: #00c6a9;
    color: var(--white);
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
}

.sell-btn:hover {
    color: #00c6a9;
    background-color: var(--white);
}



/* BACKGROUND BLUR */
.bg__blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px var(--secondary-color);
    z-index: -1;
    position: fixed;
}

.footer__blur {
    bottom: 7rem;
    right: 0;
}

.spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-top: 3px solid #00c6a9;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    margin-right: 8px;
    vertical-align: middle;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}









@media (max-width: 800px) {
    .card-header {
        display: flex;
        align-items: center;
        font-size: 14px;
        gap: 20px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        color: var(--text-light);
        background: var(--primary-color-light);
        padding: 8px 10px;
        box-shadow: 0 1px 10px rgba(126, 133, 227, 0.4);
    }

    .card-header a {
        color: var(--primary-color-light);
        background: var(--background-gradient);
        color: var(--white);
        padding: 5px;
    }

    .card-header i {
        font-size: 18px;
    }

    .card-list .rate {
        font-size: 12px;
    }
}